lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.psd
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
pids
logs
results
demo-hc
snapshot

npm-debug.log
node_modules
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

